<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>WebAuthn demo home page</title>
    </head>
    <body>
        <h1>Welcome!</h1>

        <form th:action="@{/login}">
            <button type="submit">Login</button>
        </form>
        
        <form th:action="@{/register}">
            <button type="submit">Register</button>
        </form>
    </body>
</html>
